<div style="text-align:center">
  <mat-toolbar color="primary">
    <span>Veja o clima da sua cidade aqui!</span>
  </mat-toolbar>

  <div fxLayoutAlign="center">
    <div class="mat-caption vertical-margin">Sua cidade, sua previsão, aqui e agora</div>
  </div>

  <div fxLayout="row">
    <mat-card fxFlex="300px">
      <h2>Previsões</h2>

      <mat-card-header>
        <mat-card-title>
          <div class="mat-headline">Previsão atual:</div>
        </mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <app-tempo-atual></app-tempo-atual>
      </mat-card-content>
    </mat-card>
  </div>
</div>


