<div style="background: #bebebe; padding: 20px; margin: 50px 200px 50px 200px;">
    <div fxLayout="row">
      <div fxFlex="66%" class="mat-title no-margin">{{tempoAtual.cidade}}, {{tempoAtual.pais}}</div>
      <div fxFlex="right mat-subheading-2 no-margin">{{tempoAtual.date | date:'fullDate'}}</div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="66%">
        <img style="zoom: 175%" alt="72" height='72' [src]='tempoAtual.imagem'>
      </div>

      <div fxFlexclass="right no-margin">
        <p class="mat-display-3">{{tempoAtual.temperatura | number:'1.0-0'}}</p>
      </div>
    </div>

    <div fxLayoutAlign="center" class="mat-caption">
      {{tempoAtual.descricao}}
    </div>
</div>
